.footer {
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.footer-section {
  margin-bottom: 1rem;
}

.about {
  width: 50%;
  padding-right: 25%;
  box-sizing: border-box;
}

.about p {
  max-width: 100%;
}

.links {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-column {
  flex: 1;
  min-width: 150px;
  margin-right: 1rem;
}

.link-column h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.link-column ul {
  list-style-type: none;
  padding: 0;
}

.link-column ul li {
  margin-bottom: 0.5rem;
}

.link-column.artists-column ul li {
  margin-bottom: 1.5rem;
}

.link-column a {
  color: #333;
  text-decoration: none;
}

.link-column a:hover {
  /* text-decoration: underline; */
}

.footer-bottom {
  margin-top: 2rem;
  padding: 1rem 20%;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom > * {
  flex: 1 1 0;
  text-align: center;
}

.legal-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.legal-links a,
.copyright p {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
  white-space: nowrap;
  padding: 0 10px;
}

.copyright {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section.about {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .footer-section.about p {
    width: 50%;
    /* margin: 0 auto; */
  }

  .links {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .link-column {
    flex: 0 0 33.333%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .link-column.about-column {
    text-align: left;
  }

  .link-column.artists-column {
    text-align: left;
  }

  .link-column.visit-column {
    text-align: left;
  }

  .footer-bottom {
    padding: 1rem 10%;
    flex-direction: column;
    align-items: stretch;
  }

  .legal-links a,
  .copyright p {
    display: block;
    margin-bottom: 0.5rem;
  }

  .copyright {
    text-align: center;
  }
}
